header{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 10px;
    color: white;
    margin-left: 30px;
    padding: 20px;
}

.siteid{
    grid-column: 1 / span 6;
}

nav{
     grid-column: 8 / span 5;
    margin-top: 20px;
}


.navbar {  
  display: flex;
  list-style:none;
}

.navbar > li {  
  flex: 1;  
}


@media all and (max-width: 600px) {  
    
  .navbar {  
    flex-wrap: wrap;  
  }  
    
  .container > li {  
    flex-basis: 50%;  
  }

}

@media all and (max-width: 400px) {  
  .navbar > li {  
    flex-basis: 100%;  
  }  
  .search {  
    order: 1;  
  }  
}


header a{
    color: white;
    text-decoration: none;
}

.blue {
    background-color: royalblue;
}


body {
  background-image: url(../images/email.png);
}

p {
    font-family: georgia;
}

.container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 10px;
}


section {
    margin-left: 30px;
    grid-column: 1 / span 9;
}

photo {
    grid-column: 10 / span 3;
}


footer{
    text-align: center;    
}
