video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
}

html, body {
  height: 100%;
  overflow-x: hidden;
}

body {
  margin: 0;
}

.viewport-header {
  position: relative;
  height: 100vh;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  font-family: 'Syncopate', sans-serif;
  color: white; text-shadow: black 0.1em 0.1em 0.2em;
  text-transform: uppercase;
  letter-spacing: 3vw;
  line-height: 1.2;
  font-size: 3.5vw;
  text-align: center;
  span {
    display: block;
    font-size: 10vw;
    letter-spacing: -1.3vw;
  }
}

main {
  background-image: url(../images/email.png);
  position: relative;
  padding: 1rem;
  &::before {
    content: "";
    @include coverer;
    top: -100vh;
  }
  p {
    max-width: 600px;
    margin: 1rem auto;
  }
}